.checkbox_visibility{
    padding-top: 20px;
}

.button_submit{
    padding-top: 20px;
}

.p_visibility{
    float: right;
    font-size: 12px;
    color: darkgray;
    padding-top: 2px;
    padding-left: 2px;
}

.color_code{
    padding-top: 10px;
}